@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

/* header */
header {
    align-items: center;
    color: white;
    padding: 20px 50px;
    background-image: url(https://i.ibb.co/SwvvTGhv/dawn.jpg);
    background-color: rgb(0 0 0 / 70%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo h3 {
    font-size: 25px;
    margin: 0px;
}

.logo h3 span {
    font-weight: 200;
}

nav ul li {
    display: inline;
    margin: 0px 0px 0px 25px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.banner {
    text-align: center;
    padding: 100px 0px;
}

.banner h3 {
    font-size: 30px;
    font-style: italic;
    margin: 10px;
}

.banner span {
    background-color: red;
    height: 6px;
    width: 190px;
    display: inline-block;
    border-radius: 5px;
}

.banner h1 {
    font-size: 65px;
}

.banner button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: red;
    border: 2px solid red;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

/* upcoming event */
.upcoming-event {
    text-align: center;
    margin: 50px 150px;
}

.upcoming-event h2 {
    margin: 0px;
    font-size: 40px;
    padding: 0px;
}

.upcoming-event span {
    background-color: red;
    height: 6px;
    width: 190px;
    display: inline-block;
    border-radius: 5px;
}

.event {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 80px;
    margin: 20px 0 0px 0;
}

.event-item img {
    height: 350px;
    border-radius: 10px;
}

.event-item h4 {
    font-size: 22px;
    margin: 10px 0 0 0;
    letter-spacing: 2px;
}

.event-item a {
    font-size: 19px;
    color: red;
    text-decoration: none;
}

/* explore */
.explore-main {
    background-image: url(https://i.ibb.co/Xx8fSjzM/father.jpg);
    background-position: center;
    background-color: rgba(0, 0, 255, 0.21);
    background-blend-mode: multiply;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

.explore {
    padding: 100px;
    display: flex;
}

.explore-item {
    width: 50%;
}

.explore-item h1 {
    margin: 0 0 10px 0;
    font-size: 70px;
}

.explore-item span {
    background-color: red;
    height: 6px;
    width: 190px;
    display: inline-block;
    border-radius: 5px;
}

.explore-item p {
    margin: 30px 0;
}

.explore-item a {
    font-size: 19px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/* tour section */
.tour {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.tour-item h5 {
    font-size: 25px;
    margin: 0;
}

.tour-item span {
    background-color: red;
    height: 6px;
    width: 190px;
    display: inline-block;
    border-radius: 5px;
}

.tour-item a {
    color: red;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}

.img-one {
    height: 250px;
    margin: 0 0 20px 0;
}

.img-two {
    height: 350px;
    margin: 0 0 20px 0;
}

/* ...........Footer............... */

.footer{
    background-color: #3b506c;
    color: white;
    text-align: center;
    padding:100px 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    display: flex;
   }
   .footer div{
        text-align: center;
   }
   .col-2{
        flex-grow: 2;
   }
   .footer div h3{
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1px;
         
   }
  .col-1 a{
   display: block;
   text-decoration: none;
   margin-bottom: 10px;
   color: #efefef;
  } 
  form input {
   width: 350px;
   height: 35px;
   border-radius: 4px;
   text-align: center;
   margin: 20px;
   outline: none;
   border: none;
  }
  form button{
   background: transparent;
   border: 2px solid white;
   border-radius: 30px;
   color: white;
   padding: 10px 30px;
   font-size: 15px;
   cursor: pointer;
  }
  .col-3{
   color: #efefef;
  }
  .icons i{
   font-size: 25px;
   margin: 10px;
   cursor: pointer;
  }